
/* variables */
:root {
    --light-puple: #A3A5C3;
    --dark-purple: #947EB0;
    --light-green: #A9D2D5;
    --gray-purple: #766C7F;
    --gray-green: #808D8E;
    --dark-blue: #0B2027;
    --gold: #FFD639;
    --green-blue: #40798C;
}

/* body info */
body {
    background: var(--dark-blue);
}

/* white box in center of page holding info */
.big-box {    
    border-radius: 10px;
    background: white;
    max-width: 70%;
    max-height: 60%px;
    box-shadow: 10px 10px 10px var(--gray-green);
    margin: auto;   
}

/* smaller box inside big one */
.password-generator {
    content: flex;
    text-align: center;
    padding-bottom: 3%;
    
}

/* title */
.title {
    font-family: 'Bebas Neue', cursive;
    text-shadow:#FC0 1px 0 10px;
    color: var(--dark-blue);
    margin-top: 5%;
    padding-top: 2%;
}

/* div holding forms buttons and p */
.totalSpace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
    width: 70%;
    height: 500px;
    margin: auto;
}

.content {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;   
    width: 100%;
    min-width: 200px;
    height: 100%;
    
}

/* buttons and forms, and their give effects */
.radio, .input {
    margin-top: 2%;
}

form {
    padding-top: 7%;
    padding-left: 7%;
    font-family: 'Bebas Neue', cursive;
    color: var(--green-blue);
}

.image {    
    border-radius: 0 10px 10px 0;
    height: 100%;
    width: 100%;
}

#button {
    background: #A3A5C3;
    background-image: -webkit-linear-gradient(top, #A3A5C3, #0B2027);
    background-image: -moz-linear-gradient(top, #A3A5C3, #0B2027);
    background-image: -ms-linear-gradient(top, #A3A5C3, #0B2027);
    background-image: -o-linear-gradient(top, #A3A5C3, #0B2027);
    background-image: linear-gradient(to bottom, #A3A5C3, #0B2027);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 5px;
    text-shadow: 0px 0px 0px #666666;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 17px;
    padding: 5px 15px 5px 15px;
    border: solid #2b2b24 2px;
    text-decoration: none;
  }

/* Aread displaying the password */
#passwordBlock {
    border-radius: 3px;
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    white-space: -pre-wrap;
    word-wrap: break-word;
    background: linear-gradient(135deg,black, var(--dark-purple),yellow,  var(--dark-purple), black);
    border-radius: 10px;
    animation: animate 1.5s linear infinite;
      
}

#finalPassword {
    border: 2px solid var(--dark-blue);
    background-color: var(--dark-blue);
    border-radius: 5px;   
    color: white;  
}

p {
    margin: 2%;
    padding: 1%;
    max-width: 95%;
    max-height: 95%;
}

/* effects */
.title:hover {
    text-shadow:rgb(102, 82, 1) 1px 0 15px;
}

#button:hover {
    background: rgb(red, green, blue);
    background-image: -webkit-linear-gradient(top, #947EB0,#080a2b);
    background-image: -moz-linear-gradient(top, #947EB0,#080a2b);
    background-image: -ms-linear-gradient(top, #947EB0,#080a2b);
    background-image: -o-linear-gradient(top, #947EB0,#080a2b);
    background-image: linear-gradient(to bottom, #947EB0,#080a2b);
    text-decoration: none;
  }
  

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}


/* response layout properties */
@media only screen and (max-width: 1550px) {
    .password-generator {
        height: 40%;
        margin-bottom: 5%;
    }

    .totalSpace {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 40%;        
    }
    
    .content {
        max-height: 80%;
        margin: auto;
        text-align: left;
        justify-content: space-between;   
        width: 100%;
        padding-bottom: 7%;
    }
   
    .image {
        max-width: 100%;
        max-height: 100%;
        border-radius: 0 0 10px 10px ;
    }
}